:root {
    --grey: rgba(0, 0, 0, 0.6);
    --red: #580E20;
    --main-color: #F1E7E0;
}

#main-info{
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    margin: 100px auto;
    position: relative;
}

.images{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 40%;
    position: sticky;
    top: 100px;
    height: fit-content;
}

.other-imgs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    object-fit:fill;
    object-position: center;
}

.other-imgs img{
    width: 70px;
    border-radius: 5px;
    width: 100%;
}

.thumbnail-img{
    width: 80%;
    height: 55vh;
}

.thumbnail-img img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 10px;
}

/* ------------------------------------------------------------------------ Infos ----------------------------------------------------------------------- */

.infos{
    width: 50%;
}

.info-name{
    border-bottom: 1px var(--grey) solid;
    padding-bottom: 10px;
    width: 100%;
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
}

span{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    color: var(--grey);
}

.ratings{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px var(--grey) solid;
    width: fit-content;
    margin-top: 10px;
}

.star-ammount{
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.ratings img{
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.ratings .vl{
    border-left: 1px solid var(--grey);
    height: 15px;
}

.review-ammount{
    font-family: Helvetica, Arial, sans-serif;
}

.price-buynow{
    border-bottom: 1px var(--grey) solid;
    padding-bottom: 10px;
}

.price{
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.price span{
    text-decoration: line-through red;
}

.price h3{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    color: var(--red);
    font-weight: 500;
}

.green-cau{
    color: rgba(0, 85, 3, 0.65);
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 5px;
}

.price-buynow h4{
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 30px;
}

.size-chart{
    padding: 3px 10px;
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid var(--grey);
    width: fit-content;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.size-chart:hover{
    background-color: var(--main-color);
    filter: contrast(0.9);
}

.call-to-action-butts{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.buy-now, .add-to-card{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.buy-now{
    width: 60%;
    background-color: var(--red);
    color: var(--main-color);
}

.buy-now:hover, .add-to-car:hover{
    filter: contrast(1.3);
}

.add-to-card{
    border: 1px black solid;
    flex: 1;
    color: var(--red);
}


.rest-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.perks{
    margin-top: 20px;
}

.rest-info h3{
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin-top: 10px;
}

.rest-info h2{
    font-size: 1.3rem;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--red);
}

#best-seller {
    margin-bottom: 50px;
}

.heading img{
    bottom: 10px;
}